<!-- Footer -->
<footer class="page-footer font-small blue">
  <div style="position: relative;color: white;" class="footer-copyright text-center py-3"><span> © 2020 Copyright: &nbsp;Lumi Material Electrico</span>
  </div>
  <div style="position: relative;color: white;" class="footer-copyright text-center"><span style="text-transform: none; font-size: 15px !important"> Desarollado por<a style="color:#f3cc23;" href="https://animatiomx.com/">  ANIMATIOMX</a> 2020</span></div>
</footer>
<!-- Footer -->
