<app-header></app-header>
<app-menua></app-menua>



<div class="containerS">
  <div class="row">
    <div class="col-md-12">
      <h1 style="font-weight: 600;">INICIO</h1>
    </div>

    <div class="col-md-3 px-4">
      <div class="row shadow py-4 cards">
        <div class="col-md-8">
          <h5>EQUIPOS</h5>
        </div>
        <div class="col-md-4 text-right">
          <h1>{{primerosdatos[0]}}</h1>
        </div>
      </div>
    </div>

    <div class="col-md-3 px-4">
      <div class="row shadow py-4 cards">
        <div class="col-md-8">
          <h5>COLABORADORES</h5>
        </div>
        <div class="col-md-4 text-right">
          <h1>{{primerosdatos[1]}}</h1>
        </div>
      </div>
    </div>

    <div class="col-md-3 px-4">
       <a style="text-decoration: none;" [routerLink]="['/Prospectos_Admin/Detalle_Prospectos']">
      <div class="row shadow py-4 cards">
        <div class="col-md-5 text-center">
         <h6>EMPRESAS</h6>
        </div>
        <div class="col-md-7 text-right">
          <h1>{{primerosdatos[2]}}</h1>
        </div>
      </div>
      </a>
    </div>

    <div class="col-md-3 px-4">
      <a style="text-decoration: none;" [routerLink]="['/Prospectos_Admin/Tareas_Canceladas']">
      <div class="row shadow py-4 cards red">
        <div class="col-md-8">
          <h5>TAREAS CANCELADAS</h5>
        </div>
        <div class="col-md-4 text-right">
          <h1>{{primerosdatos[3]}}</h1>
        </div>
      </div>
      </a>
    </div>
  </div>
  <div class="row mt-3">
  <div class="col-md-12 text-center">
    <h1 style="font-weight: 600;">CITAS DE ASESORES</h1>
  </div>
</div>
</div>


<div class="calendario">
  <div class="bordeS">
    <full-calendar
      [events]="calendarioinfo"
      [eventTextColor]="'#fff'"
      [eventColor]="'#fff'"
      (eventClick)="eventClicked($event)"
      [allDaySlot]="false"
      [height]="600"
      [locale]="localMx"
      [slotLabelFormat]="{
        hour: '2-digit',
        minute: '2-digit',
        hour24: true
      }"
      [eventTimeFormat]="{
        hour: '2-digit',
        minute: '2-digit',
        hour24: true
      }"
      [header]="{
        left: 'prev, title, next',
        center: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek',
        right: 'today'
      }"
      defaultView="dayGridMonth"
      [plugins]="calendarPlugins"
    ></full-calendar>
  </div>
  <div class="row text-center" style="padding-left: 15%;padding-right: 15%;">
    <div class="col-lg-3 d-flex align-items-center mt-4" *ngFor="let eqp of equipos">
    <label class="circle2 mr-2" [ngStyle]="{'background-color': eqp.Color}"></label>
       <span style="font-weight: 700;">
           {{eqp.Nombre_Equipo}}
       </span>
    </div>
  </div>
</div>
<div class="calendario2" >
  <div class="bordeS">
    <full-calendar
      [events]="calendarioinfo"
      [eventTextColor]="'#fff'"
      [eventColor]="'#fff'"
      (eventClick)="eventClicked($event)"
      [allDaySlot]="false"
      [height]="1500"
      [locale]="localMx"
      [slotLabelFormat]="{
        hour: '2-digit',
        minute: '2-digit',
        hour24: true
      }"
      [eventTimeFormat]="{
        hour: '2-digit',
        minute: '2-digit',
        hour24: true
      }"
      [header]="{
        left: 'prev, title, next',
        center: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek',
        right: 'today'
      }"
      defaultView="dayGridMonth"
      [plugins]="calendarPlugins"
    ></full-calendar>
  </div>
  <div class="row text-center" style="padding-left: 15%;padding-right: 15%;">
    <div class="col-lg-3 d-flex align-items-center mt-4" *ngFor="let eqp of equipos">
      <label class="circle2 mr-2" [ngStyle]="{'background-color': eqp.Color}"></label>
         <span style="font-weight: 700;">
             {{eqp.Nombre_Equipo}}
         </span>
      </div>
  </div>

</div>

<app-footer></app-footer>