
<nav id="tabs">
<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">

    <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" routerLinkActive="active"
    [routerLink]="['/Citas_Asesor']" role="tab" aria-controls="nav-home" aria-selected="true"><img class="mr-2" src="../../assets/img/calendar.svg" id="iconomenu">CITAS</a>

    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" routerLinkActive="active"  [routerLink]="['/Detalle_Tareas']" role="tab" aria-controls="nav-contact" aria-selected="false"><img class="mr-2" src="../../assets/img/documents.svg" id="iconomenu">TAREAS</a>

    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" routerLinkActive="active"
        [routerLink]="['/Prospectar_Asesor']" role="tab" aria-controls="nav-profile" aria-selected="false"><img
            class="mr-2" src="../../assets/img/pencil2.svg" id="iconomenu">PROSPECTAR</a>

    <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" routerLinkActive="active" [routerLink]="['/Pefil_Asesor']" role="tab" aria-controls="nav-about" aria-selected="false"><img class="mr-2" src="../../assets/img/person.svg" id="iconomenu">PERFIL</a>
</div>
</nav>