.fab {
    position: relative;
    width: 56px;
    top: 60%;
     left: -2%;
    margin-left: -28px;
    transform: rotate(90deg);
  }

  .fab:hover .fab-buttons {
    opacity: 1;
    visibility: visible;
  }

  .fab:hover .fab-buttons__link {
    transform: scaleY(1) scaleX(1) translateY(-16px) translateX(0px);
  }

  .fab-action-button:hover + .fab-buttons .fab-buttons__link:before {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transform-origin: right center 0;
    transition-delay: 0.3s;
  }

  .fab-action-button {
    position: absolute;
    bottom: 0;
    display: block;
    width: 46px;
    height: 46px;
    background-color: #07138f;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }

  .fab-buttons {
    position: absolute;
    left: -12px;
    right: 0;
    bottom: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
  }

  .fab-action-button__icon {
     border-radius: 50%;
     border: none;
    display: inline-block;
    width: 46px;
    height: 46px;
    background: url("../../../assets/img/add-sharp.svg") center no-repeat #07138f;
    background-size: 90%!important;
  }

  .fab-buttons__item {
    display: block;
    text-align: center;
    margin: 12px 0;
  }

  .fab-buttons__link {
    display: inline-block;
    width: 45px;
    height: 45px;
    text-decoration: none;
    background-color: #f2f2f2;
    border-radius: 50%;
    transform: scaleY(0.5) scaleX(0.5) translateY(0px) translateX(0px);
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }

  [data-tooltip]:before {
    top: 50%;
    margin-top: -11px;
    font-weight: 600;
    border-radius: 2px;
    background: #585858;
    color: #fff;
    content: attr(data-tooltip);
    font-size: 12px;
    text-decoration: none;
    visibility: hidden;
    opacity: 0;
    padding: 4px 4px;
    margin-right: 12px;
    position: absolute;
    transform: scale(0);
    right: 100%;
    white-space: nowrap;
    transform-origin: top right;
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
  }

  [data-tooltip]:hover:before {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transform-origin: right center 0;
  }

  .icon-material {
    display: inline-block;
    width: 40px;
    height: 40px;
  }

  .icon-material_fb {
     left: 5px;
     position: relative;
     top: 2px;
     width: 32px;
     height: 32px;
    background: url("../../../assets/img/mic-outline.svg") no-repeat;
    background-size: 70%!important;
    transform: rotate(-90deg);
  }

  .icon-material_gp {
     left: 5px;
     position: relative;
     top: 3px;
     width: 32px;
     height: 32px;
    background: url("../../../assets/img/attach-outline.svg") no-repeat;
    background-size: 80%!important;
    transform: rotate(-90deg);
  }

  .icon-material_tw {
     left: 6px;
     position: relative;
     top: 2px;
     width: 32px;
     height: 32px;
    background: url("../../../assets/img/videocam-outline.svg") no-repeat;
    background-size: 70%!important;
    transform: rotate(-90deg);
  }

  .icon-material_li {
     left: 1px;
     position: relative;
     top: 2px;
     width: 32px;
     height: 32px;
    background: url("../../../assets/img/images-outline.svg") no-repeat;
    background-position: center left;
    background-size: 70%!important;
    transform: rotate(-90deg);
  }


.imgS{
width: 40px;
height: 40px;
}
.img2{
width: 20px;
height: 20px;
cursor: pointer;
}
h1,h2,h3,h4,h5,h6{
color: #07138f;
font-weight: 700;
}
input{
color: #07138f;
font-weight: 700;
}
.circle{
position: absolute;
top:0%;
left:-2%;
display: inline-block;
border-radius: 50%;
width: 42px;
height: 42px;
background: url("../../../assets/img/add-sharp.svg") no-repeat #07138f;
background-size: 70%!important;
background-position: center;
}
.circle2{
position: absolute;
top:5%;
left:7%;
display: inline-block;
border-radius: 50%;
width: 32px;
height: 32px;
cursor: pointer;
background: url("../../../assets/img/attach-outline.svg") no-repeat #f2f2f2;
background-size: 70%!important;
background-position: center;
}
.circle3{
position: absolute;
top:5%;
left:15%;
display: inline-block;
border-radius: 50%;
width: 32px;
height: 32px;
cursor: pointer;
background: url("../../../assets/img/images-outline.svg") no-repeat #f2f2f2;
background-size: 60%!important;
background-position: center;
}
.circle4{
position: absolute;
top:5%;
left:23%;
display: inline-block;
border-radius: 50%;
width: 32px;
height: 32px;
cursor: pointer;
background: url("../../../assets/img/videocam-outline.svg") no-repeat #f2f2f2;
background-size: 60%!important;
background-position: center;
}
.circle5{
position: absolute;
top:5%;
left:31%;
display: inline-block;
border-radius: 50%;
width: 32px;
height: 32px;
cursor: pointer;
background: url("../../../assets/img/mic-outline.svg") no-repeat #f2f2f2;
background-size: 60%!important;
background-position: center;
}
.btn-azul{
-webkit-box-shadow: 0px 12px 28px -8px rgba(7,18,143,0.73);
-moz-box-shadow: 0px 12px 28px -8px rgba(7,18,143,0.73);
box-shadow: 0px 12px 28px -8px rgba(7,18,143,0.73);
background-color: #07138f;
border-radius: 20px;
color: white;
padding: 0px 30px;
font-size: 30px;
}
.btn-rojo{
-webkit-box-shadow: 0px 12px 28px -8px rgba(255,0,0,0.73);
-moz-box-shadow: 0px 12px 28px -8px rgba(255,0,0,0.73);
box-shadow: 0px 12px 28px -8px rgba(255,0,0,0.73);
background-color: #ff0000;
border-radius: 20px;
color: white;
padding: 0px 30px;
font-size: 30px;
}
input{
border: none;
background-color: white!important;
}
label{
font-weight: 600;
font-size: 18px;
color: #353535;
}
span{
font-size: 20px;
}
.card{
border-radius: 25px;
}
textarea{
border: 1px solid black;
border-radius: 25px;
resize:none;
padding:10px;
}
textarea:focus{
border:none!important;
}
.check{
height: 25px;
width: 25px;
border: 1px solid black;
background: #fff!important;
}
.imagen{
width: 27px;
height: 27px;
margin-right: 10px;
}
.borderr{
border-bottom: 1px solid black;
}
.bradius{border-radius: 25px;}
/* ---------------------------------------------------
MEDIA QUERYS
----------------------------------------------------- */
@media screen and (width: 1280px) {
}
@media screen and (min-width: 1366px) {
}
@media screen and (min-width: 1440px) {
}
@media screen and (min-width: 1600px) {
}
@media screen and (min-width: 1680px) {
}
@media screen and (min-width: 1920px) {
.container, .container-lg, .container-md, .container-sm, .container-xl {
max-width: 1920px;
}
h1{ font-size: 50px; }
h2{ font-size: 43px; }
h3{ font-size: 40px; }
h5{ font-size: 30px; }
input{ font-size: 30px; }
label{ font-size: 40px;}
.check{ height: 65px;  width: 65px;}
.mb-3, .my-3 { margin-bottom: 2rem!important;}
.mt-3, .my-3 { margin-top: 2rem!important; }
.card{ border-radius: 75px;}
.circle{  width: 60px;  height: 60px;}
.circle2,.circle3,.circle4,.circle5{  width: 50px;  height: 50px;}
textarea{ height: 320px; font-size: 30px; border-radius: 45px; font-style: italic; border: 1px solid black;}
.btn-azul {   border-radius: 45px;   font-size: 45px; }
.btn-rojo {   border-radius: 45px;   font-size: 45px; }
.mb-4, .my-4 {   margin-bottom: 3.5rem!important; }
.mt-4, .my-4 {   margin-top: 3.5rem!important; }
.mb-5, .my-5 {   margin-bottom: 3.5rem!important; }
.mt-5, .my-5 {   margin-top: 3.5rem!important; }
.imagen{ width: 45px; height: 45px;}
.borderr{  border-bottom: 1px solid black;}
.modal-dialog {  max-width: 1350px;}
.p-3 {  padding: 2.5rem!important;}
.bradius{border-radius: 75px;}
span{font-size: 20px;}
}
@media screen and (min-width: 2160px) {
}
@media screen and (min-width: 2560px) {
.container, .container-lg, .container-md, .container-sm, .container-xl {
max-width: 2540px;
}
h1{ font-size: 65px; }
h2{ font-size: 50px; }
h3{ font-size: 45px; }
h5{ font-size: 36px; }
input{ font-size: 36px; }
label{ font-size: 55px;}
.check{ height: 65px;  width: 65px;}
.mb-3, .my-3 { margin-bottom: 3rem!important;}
.mt-3, .my-3 { margin-top: 3rem!important; }
.card{ border-radius: 75px;}
.circle{  width: 70px;  height: 70px;}
.circle2,.circle3,.circle4,.circle5{  width: 55px;  height: 55px;}
textarea{ height: 265px; font-size: 35px; border-radius: 45px; font-style: italic; border: 3px solid black;}
.btn-azul {   border-radius: 50px;   font-size: 70px; }
.btn-rojo {   border-radius: 50px;   font-size: 70px; }
.mb-4, .my-4 {   margin-bottom: 3.5rem!important; }
.mt-4, .my-4 {   margin-top: 3.5rem!important; }
.imagen{ width: 55px; height: 55px;}
.borderr{  border-bottom: 3px solid black;}
}
@media screen and (min-width: 2560px) and (max-height: 1080px){
}
@media screen and (min-width: 2736px) {
.container, .container-lg, .container-md, .container-sm, .container-xl {
max-width: 2540px;
}
h1{ font-size: 75px; }
h2{ font-size: 50px; }
h3{ font-size: 45px; }
h5{ font-size: 40px; }
input{ font-size: 40px; }
label{ font-size: 55px;}
.check{ height: 65px;  width: 65px;}
.mb-3, .my-3 { margin-bottom: 3rem!important;}
.mt-3, .my-3 { margin-top: 3rem!important; }
.card{ border-radius: 75px;}
.circle{  width: 70px;  height: 70px;}
.circle2,.circle3,.circle4,.circle5{  width: 55px;  height: 55px;}
textarea{ height: 370px; font-size: 35px; border-radius: 45px; font-style: italic; border: 3px solid black;}
.btn-azul {   border-radius: 50px;   font-size: 60px; }
.btn-rojo {   border-radius: 50px;   font-size: 60px; }
.mb-4, .my-4 {   margin-bottom: 3.5rem!important; }
.mt-4, .my-4 {   margin-top: 3.5rem!important; }
.imagen{ width: 55px; height: 55px;}
.borderr{  border-bottom: 3px solid black;}
span {  font-size: 40px !important;}
}
@media screen and (min-width: 3440px) {
.container, .container-lg, .container-md, .container-sm, .container-xl {
max-width: 3440px;
}
h1{ font-size: 95px; }
h2{ font-size: 50px; }
h3{ font-size: 60px; }
h5{ font-size: 56px; }
input{ font-size: 56px; }
label{ font-size: 55px;}
.check{ height: 65px;  width: 65px;}
.mb-3, .my-3 { margin-bottom: 5rem!important;}
.mt-3, .my-3 { margin-top: 5rem!important; }
.card{ border-radius: 75px;}
.circle{  width: 110px;  height: 110px;}
.circle2,.circle3,.circle4,.circle5{  width: 85px;  height:    85px;}
textarea{ height: 440px; font-size: 45px; border-radius: 45px; font-style: italic; border: 3px solid black;}
.btn-azul {   border-radius: 50px;   font-size: 70px; }
.btn-rojo {   border-radius: 50px;   font-size: 70px; }
.mb-4, .my-4 {   margin-bottom: 4.5rem!important; }
.mt-4, .my-4 {   margin-top: 4.5rem!important; }
.mb-5, .my-5 {   margin-bottom: 5rem!important; }
.mt-5, .my-5 {   margin-top: 5rem!important; }
.imagen{ width: 55px; height: 55px;}
.borderr{  border-bottom: 3px solid black;}
.modal-dialog {  max-width: 1350px;}
.p-3 {  padding: 5rem!important;}
.bradius{border-radius: 75px;}
span { font-size: 50px !important;}
}
@media screen and (min-width: 3840px) {
.container, .container-lg, .container-md, .container-sm, .container-xl {
max-width: 3640px;
}
h1{ font-size: 120px; }
h2{ font-size: 50px; }
h3{ font-size: 60px; }
h5{ font-size: 56px; }
input{ font-size: 56px; }
label{ font-size: 55px;}
.check{ height: 65px;  width: 65px;}
.mb-3, .my-3 { margin-bottom: 5rem!important;}
.mt-3, .my-3 { margin-top: 5rem!important; }
.card{ border-radius: 75px;}
.circle{  width: 110px;  height: 110px;}
.circle2,.circle3,.circle4,.circle5{  width: 85px;  height:    85px;}
textarea{ height: 440px; font-size: 45px; border-radius: 45px; font-style: italic; border: 3px solid black;}
.btn-azul {   border-radius: 50px;   font-size: 70px; }
.btn-rojo {   border-radius: 50px;   font-size: 70px; }
.mb-4, .my-4 {   margin-bottom: 3.5rem!important; }
.mt-4, .my-4 {   margin-top: 3.5rem!important; }
.mb-5, .my-5 {   margin-bottom: 6.5rem!important; }
.mt-5, .my-5 {   margin-top: 6.5rem!important; }
.imagen{ width: 55px; height: 55px;}
.borderr{  border-bottom: 3px solid black;}
.modal-dialog {  max-width: 1350px;}
.p-3 {  padding: 5rem!important;}
.bradius{border-radius: 75px;}
}
@media screen and (min-width: 3840px) and (max-height: 1080px){
}