<app-header></app-header>
<app-menua></app-menua>
<div class="container mb-5 pb-5">

    <div class="row mb-3 mt-5">
        <h1 class="ml-3" style="color: gray; opacity: 0.7;">
        REPORTE COLABORADORES</h1>
    </div>

  <div class="row mb-3 mt-5">
    <div class="col-md-8" *ngFor="let us of usuario">
      <h1 class="ml-3">{{us.Nombre}}</h1>
      <span class="ml-3">{{us.Usuario}}</span><br>
      <span class="ml-3" *ngIf="us.Rol === '1'" style="font-style: italic;"
        >ASESOR DE VENTAS</span>
      <span class="ml-3" *ngIf="us.Rol === '2'" style="font-style: italic;"
        >COORDINADOR</span>
      <span class="ml-3" *ngIf="us.Rol === '3'" style="font-style: italic;"
        >ADMINISTRADOR</span>
      <span class="ml-3" *ngIf="us.Rol === '4'" style="font-style: italic;"
        >COORDINADOR/ADMIN</span>
    </div>
    <div class="col-md-4 text-right">
      <button (click)="exportToExcel()" class="btn btn-azul mr-2">
        <img class="mb-1 mr-2 imagen" src="../../../assets/img/open-sharp.svg">EXPORTAR 
      </button>
       <button class="btn btn-azul ml-2" [routerLink]="['/Rcolaboradores_Admin/Grafica_Detalle_Colaborador/'+idUs]">
        <img class="mb-1 mr-2 imagen" src="../../../assets/img/pie-chart-sharp.svg">Graficas
      </button>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-4">
        <select [(ngModel)]="opcionSeleccionado" (change)="capturar()" name="select1" class="input custom-select" id="inputGroupSelect01" style='width:90% !important'>
        <option value="0">Filtrar por mes</option>
        <option value="1">Enero</option>
        <option value="2">Febrero</option>
        <option value="3">Marzo</option>
        <option value="4">Abril</option>
        <option value="5">Mayo</option>
        <option value="6">Junio</option>
        <option value="7">Julio</option>
        <option value="8">Agosto</option>
        <option value="9">Septiembre</option>
        <option value="10">Octubre</option>
        <option value="11">Noviembre</option>
        <option value="12">Diciembre</option>
        </select>
    </div>
    <div class="col-md-4">
        <select [(ngModel)]="opcionSeleccionado1" (change)="capturar1()" name="select2" class="input custom-select" id="inputGroupSelect02" style='width:90% !important'>
        <option value="0">Tareas</option>
        <option value="1">Citas</option>
        </select>
    </div>
  </div>

      <body class="bg-light">
        <div class="container">
         <div class="row py-5 justify-content-center">
          <div class="col-md-12">
           <div class="col-md-12 table-responsive" #epltable>
            <div style="padding-bottom: 10px;padding-top: 10px;">
             <div class="row">
              <div class="col-sm-12">
              </div>
             </div>
            </div>
            <table class="table table-bordered">
             <thead class="thead-white">
             <tr>
              <th>
                <div class="col-md-12 text-left" *ngIf="tipo == 1">
                  <h6 >FECHA Y HORA</h6>
              </div>
            <!--fecha tarea-->
              <div class="col-md-12 text-left" *ngIf="tipo == 0">
                  <h6 >FECHA</h6>
              </div>
              </th>
              <th>
                 <!--motivo cita-->
                  <div class="col-md-12 text-left" *ngIf="tipo == 1">
                    <h6 >MOTIVO</h6>
                </div>
              <!--status tarea-->
                <div class="col-md-12 text-left" *ngIf="tipo == 0">
                    <h6>STATUS</h6>
                </div>
              </th>
              <th>
                <!--sucursal cita-->
                  <div class="col-md-12 text-left" *ngIf="tipo == 1">
                    <h6 class="ml-3">EMPRESA</h6>
                </div>
              <!--asignada por tarea-->
                <div class="col-md-12 text-left" *ngIf="tipo == 0">
                    <h6>MOTIVO/COMENTARIO</h6>
                </div>
              </th>
              <th>
                 <!--check-in cita-->
                  <div class="col-md-12 text-left" *ngIf="tipo == 1">
                    <h6  class="ml-12">CHECK-IN</h6>
                </div>
              <!--tarea tarea-->
                <div class="col-md-12 text-left" *ngIf="tipo == 0">
                    <h6 class="ml-12">TAREA</h6>
                </div>
              </th>
              <th>
                <!--check-out citas-->
                  <div class="col-md-12 text-left" *ngIf="tipo == 1" >
                    <h6 class="ml-12">CHECK-OUT</h6>
                </div>
              <!--asignado por tareas-->
                <div class="col-md-12 text-left" *ngIf="tipo == 0" >
                    <h6 *ngIf="tipo == 0" class="ml-3">ASIGNADA POR</h6>
                </div>
              <!--check-out citas-->
              </th>
              <th>
                <div class="col-md-12 text-left" *ngIf="tipo == 1" >
                  <h6 class="ml-12">ASIGNO TAREA</h6>
                </div>
                <div class="col-md-12 text-left" *ngIf="tipo == 0" >
                  <h6 class="ml-12">EMPRESA</h6>
                </div>
              </th>
             </tr>
            </thead>
            <tbody>
             <tr *ngFor="let tar of tareas">
              <td>
                <div class="col-md-12 text-left" *ngIf="tipo == 1">
                  <span>{{tar.FechaI}} {{tar.HoraI}}</span>
              </div>
              <div class="col-md-12 text-left" *ngIf="tipo == 0">
                  <span >{{tar.FechaSol}}</span>
              </div>
              </td>
              <td *ngIf="tipo == 0">
                <span *ngIf="tar.Status == 1">Pendiente</span>
                <span *ngIf="tar.Status == 2">Finalizada</span>
                <span *ngIf="tar.Status == 3">cancelada</span>
              </td>
              <td *ngIf="tipo == 1">
                <span>{{tar.Motivo}}</span>
              </td>
              <td>
                <span *ngIf="tipo == 0">{{tar.MotivCancel}}</span>
                <span *ngIf="tipo == 1">{{tar.Nombre_Empresa}}</span>
              </td>
              <td *ngIf="tipo == 0">
                <span >{{tar.Tarea}}</span>
              </td>
              <td *ngIf="tipo == 1">
                <span > {{tar.FechaI}} {{tar.HoraI}} </span>
              </td>
              <td *ngIf="tipo == 0">
                <span>{{tar.Nombre.substring(0,13)}}..</span>
              </td>
              <td *ngIf="tipo == 1">
                <span >{{tar.FechaF}} {{tar.HoraF}}</span>
              </td>
              <td *ngIf="tipo == 0">
                <span >{{tar.Nombre_Empresa.substring(0,13)}}..</span>
              </td>
              <td *ngIf="tipo == 1">
                <span ></span>
              </td>
             </tr>
            </tbody>
           </table>
          </div>
         </div>
        </div>
       </div>
      </body>

</div>
<app-footer></app-footer>