<nav id="tabs">
<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">

    <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" routerLinkActive="active"
    [routerLink]="['/Prospectos_Admin']" role="tab" aria-controls="nav-home" aria-selected="true"><img class="mr-2" src="../../assets/img/business-outline.svg" id="iconomenu">PROSPECTOS EMPRESA</a>

    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" routerLinkActive="active"  [routerLink]="['/Requipos_Admin']" role="tab" aria-controls="nav-contact" aria-selected="false"><img class="mr-2" src="../../assets/img/people.svg" id="iconomenu">REPORTES EQUIPOS</a>

    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" routerLinkActive="active"
        [routerLink]="['/Rclientes_Admin']" role="tab" aria-controls="nav-profile" aria-selected="false"><img
            class="mr-2" src="../../assets/img/briefcase-outline.svg" id="iconomenu">REPORTE CLIENTES</a>

    <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" routerLinkActive="active" [routerLink]="['/Rcolaboradores_Admin']" role="tab" aria-controls="nav-about" aria-selected="false"><img class="mr-2" src="../../assets/img/clipboard-sharp.svg" id="iconomenu">REPORTE COLABORADORES</a>
</div>
</nav>