<div class="containerimg col-lg-12 shadow">
    <div class="row">
            <div class="col-lg-10 d-flex align-items-center justify-content-center">
                <a class="">
                    <img id="imagen" src="../../assets/img/lumi_logo.png">
                </a>
            </div>
            <div class="col-lg-2 d-flex align-items-center">
                <a id="logout" class="d-flex align-items-center" (click)="logout()">
                    <img id="imgcerrar" style="margin-right:5px;cursor: pointer;" src="../../assets/img/cerrar-sesion.svg"><span id="txtcerarr" style="cursor:pointer;">CERRAR SESIÓN</span>
                </a> 
            </div>
    </div>
</div>