<nav id="tabs">
    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab"  routerLinkActive="active" [routerLink]="['/Calendario_Cordinador']" role="tab" aria-controls="nav-home" aria-selected="true"><img class="mr-2" src="../../assets/img/calendar.svg" id="iconomenu">CALENDARIO</a>

        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"  routerLinkActive="active" [routerLink]="['/Tareas_Cordinador']" role="tab" aria-controls="nav-contact" aria-selected="false"><img class="mr-2" src="../../assets/img/documents.svg" id="iconomenu">TAREAS</a>

       <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" routerLinkActive="active"
        [routerLink]="['/Prospectos_coordinador']" role="tab" aria-controls="nav-profile" aria-selected="false"><img class="mr-2" src="../../../assets/img/pencil2.svg" id="iconomenu">PROSPECTAR</a>

        <a class="nav-item nav-link" id="nav-profilemp-tab" data-toggle="tab" routerLinkActive="active"
        [routerLink]="['/Empresas_coordinador']" role="tab" aria-controls="nav-profilemp" aria-selected="false"><img class="mr-2" src="../../../assets/img/business-outline.svg" id="iconomenu">EMPRESAS</a>

        <a class="nav-item nav-link" id="nav-report-tab" data-toggle="tab" routerLinkActive="active"
        [routerLink]="['/detalle_reporte']" role="tab" aria-controls="nav-report" aria-selected="false"><img class="mr-2" src="../../../assets/img/people.svg" id="iconomenu">REPORTES</a>

        <!-- <a class="nav-item nav-link" id="nav-reportcl-tab" data-toggle="tab" routerLinkActive="active"
        [routerLink]="['/Reportes_clientes']" role="tab" aria-controls="nav-reportcl" aria-selected="false"><img class="mr-2" src="../../../assets/img/briefcase-outline.svg" id="iconomenu">REPORTES DE CLIENTES</a> -->

        <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab"  routerLinkActive="active" [routerLink]="['/Pefil_Cordinador']" role="tab" aria-controls="nav-about" aria-selected="false"><img class="mr-2" src="../../assets/img/person.svg" id="iconomenu">PERFIL</a>
    </div>
</nav>